 {
    border: 1px dashed red;
    min-height: 10px;
}

body{
    background-color: lightgrey;
    font-family: 'Almarai', sans-serif;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, .pub {
    background-color: white;
}

header .header-div , .pub{
    width: 500px;
    margin: 0 auto;
}

.container {
    height: 100%;
}

.pub {
    margin: 1em auto;
}

.date {
    color: grey;
}

.feed {
    padding: 1em;
}

.head {
    display: flex;
}

.title {
    flex: 1;
}

.feed-photo {
    width: 350px;
}

img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
