body{
    background-color: lightgrey;
    font-family: 'Assistant', sans-serif;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, .post {
    background-color: white;
}

header .header-div , .post{
    width: 500px;
    margin: 0 auto;
}

.container {
    height: 100%;
}

.post {
    margin: 4em auto;
    border-radius: 5px;
}

.date {
    color: #9e9e9e;
}

.feed {
    padding: 1em;
}

.head {
    display: flex;
}

.title {
    flex: 1;
    font-size: large;
}

img {
    width: 500px;
    object-fit: cover;
}

.hashtag {
    color: rgb(0, 140, 255);
    text-decoration: none;
    font-weight: bold;
}

a.hashtag:hover {
    text-decoration: underline;
}

.comment {
    font-size: small;
}
